
h1{
	font-size:3em;
	font-family: 'Rozha One', serif;
	color:rgb(90,19,19);
}
h2{
	font-size:1.5em;
	font-family: Georgia,serif;
	color:rgb(100,59,19);
}


.full {
	width: 50%;
}

.active img {
	margin: 0 auto;
}
